<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="True" />
  <arg name="kinect_enabled" default="true"/>
  <arg name="robot_namespace" default="/"/>
  <!--<param
    name="robot_description"
    textfile="$(find simpledog)/urdf/simpledog.urdf.xacro" />-->
<!--    <param name="robot_description" textfile="$(find simpledog)/urdf/simpledog.urdf.xacro"/>-->
  <param name="/robot_description" command="$(find xacro)/xacro '$(find simpledog)/urdf/simpledog.urdf.xacro'
  --inorder
  robot_namespace:=$(arg robot_namespace)
  kinect_enabled:=$(arg kinect_enabled)"/>
  <param name = "/free_gait/robot_description"
         value = "/home/hitstar/catkin_ws/src/quadruped_locomotion-dev/quadruped_model/urdf/simpledog.urdf"
         />
 <param name="/free_gait/adapter_plugin/preview" value="free_gait_ros/AdapterDummy" />
 <param name="/free_gait/adapter_ros_interface_plugin/preview" value="free_gait_ros/AdapterRosInterfaceGazebo" />
 <param name="free_gait_marker/foothold/frame_id" value="odom"/>
 <param name="free_gait_marker/action_server_topic" value="/free_gait/action_server" />
  <param
    name="use_gui"
    value="$(arg gui)" />
 <!-- <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher" /> -->
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find simpledog)/urdf.rviz"
    output="screen"/>
</launch>
